.vertical-break {
  border-left: 2px solid #138496;
  height: 225px;
  position: absolute;
  left: 50%;
  margin: 10px 0px 0px 0px;
  
}

.control-bar{
  margin: 10px 0px 0px 0px;
}
.activity-container{
  
  height: 400px;
  border: 3px solid #138496;
  
  border-radius: 1rem;
  background: white;
  background-size: cover;
  margin: 10px 0px 0px 0px;
  position: relative;
  
  
}


body{
  /* overflow: hidden; */
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url('./assets/BG.png');
}
  
.top-bar{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80px;
  background-image: url('./assets/s-d.png');
}


a:hover {
  text-decoration: none;
}
.unchecked{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 2rem;
  width: 2rem;
  background-image: url('./assets/radio_BTn.png');
}
.checked{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 2rem;
  width: 2rem;
  background-image: url('./assets/radio_BTn2.png');
}



.right-cols,.left-cols{
  margin-top: 1.5rem;
}
ul{
  display: inline-flex;
}
ul li {
  padding: 0.25rem;
  list-style: none;
}
.label-margin{
  margin: 5px;
}
.amplitudeSlider{
  background: #C9DFE3;
}
.distanceSlider{
  background: #A5CAD0;
}

.slider{
  -webkit-appearance: none;
  width: 320px;
  height: 15px;
 background-position: center;
  /* border-radius: 5px; */
  
  outline: none;
  /* opacity: 1; */
  background-image: url('./assets/Slider.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* -webkit-transition: .2s; */
  /* transition: opacity .2s; */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  
  border: 0;
  background: url('./assets/Radio_btn1.png');
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover{
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  
  border: 0;
  background: url('./assets/Y_Radio_btn.png');
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  border: 0;
  background: url('./assets/Radio_btn1.png');
  cursor: pointer;
}
.slider::-moz-range-thumb:hover{
  width: 2rem;
  height: 2rem;
  border: 0;
  background: url('./assets/Y_Radio_btn.png');
  cursor: pointer;
}
.pause-btn{
  width: 4rem;
  height: 2rem;
  border: 0;
  background: url('./assets/play-P-N_btn.png') 0px 0px;
  cursor: pointer;
}
.play-btn{
  width: 4rem;
  height: 2rem;
  border: 0;
  background: url('./assets/play-P-N_btn.png') -62px 0px;
  cursor: pointer;
}
.forward-btn{
  width: 4rem;
  height: 2rem;
  border: 0;
  background: url('./assets/play-P-N_btn.png') -125px 0px;
  cursor: pointer;
}
.reset-btn{
  width: 5.5rem;
  height: 2rem;
  border: 0;
  background: url('./assets/Rest_btn.png') ;
  cursor: pointer;
}

.top-buttons {
  margin: 40px 0px 0px 0px;
}
.right-radio input[type=radio]{
  visibility: hidden;
}
.right-radio p {
  margin: -44px 0px 0px 70px;

}
.right-radio input[type=radio] + label{
  /* display: none; */
  height: 2rem;
  width: 2rem;
  background-image: url('./assets/radio_BTn.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.right-radio input[type=radio]:checked + label{
  /* display: none; */
  /* opacity: 1; */
  height: 2rem;
  width: 2rem;
  background-image: url('./assets/radio_BTn2.png');
  background-repeat: no-repeat;
  background-size: cover;
}


